img {
  object-fit: fill;
}
.greenTick {
  color: green;
}
.wrongCross{
  color: red;
}
.card-body {
  padding: 0px !important;
  margin: 0px !important;
}
@media screen and (min-width: 600px) {
  .card {
  left: 50%;
  margin-left: -225px;
  width: max-content;
  }
  .card-body {
    height: 450px;
    width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .card {
  left: 50%;
  margin-left: -150px;
  width: max-content;
  }
  .card-body {
    height: 300px;
    width: 300px;
  }
}